<section>
  <header>
    <h1>todos</h1>
    <input type="text" placeholder="What needs to be done?" [(ngModel)]="newTodoTitle" (keyup.enter)="addTodo()">
  </header>
  <section>
    <ul>
      <li *ngFor="let todo of todos">
        <input type="checkbox" #isCompletedField (click)="toogleComplete(todo, isCompletedField.checked)">
        <span *ngIf="!todo.editMode" (dblclick)="startEditingTodo(todo)" [class.completed]="todo.isCompleted">{{todo.title}}</span>
        <input *ngIf="todo.editMode" type="text" [value]="todo.title" #editingTodoField (keyup.enter)="updateTodo(todo, editingTodoField.value)"
          (blur)="updateTodo(todo, editingTodoField.value)">
        <button (click)="removeTodo(todo)">delete</button>
      </li>
    </ul>
  </section>
</section>
